#navbarNav a {
    font-size: 2rem;
    margin-left: 20px;
}

#navbarNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active {
    font-weight: bold;
}

@media (max-width: 600px) {
    #navbarNav {
        flex-direction: column;
        justify-content: center;
    }
  }