<div class="container-fluid mt-5">
    <div class="row row-cols-1 row-cols-md-3 animated fadeIn">
        <div class="col mb-4" *ngFor="let item of items">
            <div class="card" (click)="verArtista( item )" style="cursor: pointer;">
                <img [src]="item.images | noimg" class="card-img-top" alt="Portada imagen">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">{{ item.name }}</h5>
                    <p class="card-text">
                        <span *ngFor="let artista of item.artists" class="badge badge-pill badge-secondary"
                            style="font-size: 1rem;">
                            {{artista.name}} </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>